<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Joe Mercer | @jomrcr</title>
    <meta name="description" content="Joe Mercer - Studying Mathematics at the University of Waterloo. Data Scientist at Facebook. Living in SF. From Redmond. Tweet @jomrcr."/>
    <link rel="author" content="Joe Mercer" href="{{twitter}}"/>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="border left"></div>
    <div class="border right"></div>
    <div class="border top"></div>
    <div class="border bottom"></div>

    <header class="icon-container">
      {{> icon class=''}}
    </header>

    <section class="content">

      <article class="post container fade blank">
        <h1 class="post-title"><a href="{{twitter}}" target="_blank" class="rainbow">Hey folks, I'm @jomrcr.</a></h1>

        <p>I study <b class="colorful">mathematics</b> in the co-op program at the University of Waterloo. My focus is in combinatorics (counting things), optimization, statistics, and pure mathematics.</p>

        <p>My studies and internships have taken me around the <b class="colorful">world</b>. I've studied abroad in Hong Kong. I've interned all over the US as a program manager and software engineer. Most recently I was in the South Bay analyzing <b class="colorful">data</b> at Instagram. I love traveling, trying new things, and meeting new people :)</p>

        <p>I'm looking for a job! If you're interested in hiring a compelling data scientist with a curious mind and broad technical experience, check out my <b><a href="resume.pdf" target="_blank" alt="Résumé" class="rainbow">résumé</a></b> and <b><a href="mailto:{{email}}?subject=Hello!" class="rainbow">get in touch</a></b>.</p>

        <div class="map-container">
          <span class="dot rainbow menlopark"></span>
          <span class="dot rainbow seattle"></span>
          <span class="dot rainbow hk"></span>
          <span class="dot rainbow nyc"></span>
          <span class="dot rainbow sf"></span>
          <span class="dot rainbow austin"></span>
          <span class="dot rainbow waterloo"></span>
          {{> map}}
        </div>

        <div class="menlopark-header date-img fade blank">
          <h2 class="date">Fall 2015 - Menlo Park</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/menlopark.jpg" src="images/blank.gif" alt="Menlo Park" />
        </div>

        <p>Most recently I was interning at Instagram/Facebook as a data scientist. I analyzed low-engaged users and used the insights to help guide product. I also visited the office in Japan!</p>

        <ul>
          <li><a href="https://www.instagram.com/p/BATgVZ7iIUF/?taken-by=jomrcr" target="_blank" class="rainbow">Japan!</a></li>
          <li><a href="http://jomrcr.svbtle.com/analysis-hotel-rayman-allan-rayman" target="_blank" class="rainbow">Rap</a></li>
          <li>Surfing</li>
        </ul>

        <div class="seattle-header date-img fade blank">
          <h2 class="date">Winter 2015 - Seattle</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/seattle.jpg" src="images/blank.gif" alt="Seattle" />
        </div>

        <p>Last Winter I was a program manager at Xbox/Microsoft helping shepherd new features for the Activity Feed on Xbox Live. I also got a gamertag and realized that I am officially terrible at video games.</p>

        <ul>
          <li><a href="http://jomrcr.svbtle.com/notes-the-toyota-way" target="_blank" class="rainbow">Manufacturing</a></li>
          <li><a href="http://jomrcr.svbtle.com/notes-the-design-of-everyday-things" target="_blank" class="rainbow">Design</a></li>
          <li><a href="https://github.com/joemercer/tether" target="_blank" class="rainbow">Family</a></li>
        </ul>

        <div class="hk-header date-img fade blank">
          <h2 class="date">Fall 2014 - Hong Kong</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/hk.jpg" src="images/blank.gif" alt="Hong Kong">
        </div>

        <p>I studied abroad at the Hong Kong University of Science and Technology, getting distracted by panoramic vistas and mouthwatering dim sum.</p>

        <ul>
          <li>Iced Milk Tea</li>
          <li><a href="http://jomrcr.svbtle.com/hanabi-strategy" target="_blank" class="rainbow">Hanabi</a></li>
          <li><a href="http://jomrcr.svbtle.com/notes-lean-analytics" target="_blank" class="rainbow">Analytics</a></li>
        </ul>

        <div class="nyc-header date-img fade blank">
          <h2 class="date darkgrey">Summer 2014 - NYC</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/nyc.jpg" src="images/blank.gif" alt="NYC">
        </div>

        <p>I interned at Noom Coach, a tech startup in Chelsea making health conscious mobile apps. I prototyped the "path" UX, and helped build the core data visualizations used in their premium weight loss app.</p>

        <ul>
          <li><a href="http://jomrcr.svbtle.com/product-debt" target="_blank" class="rainbow">Rapid prototyping</a></li>
          <li>UX Research</li>
          <li><a href="http://jomrcr.svbtle.com/notes-the-lean-startup" target="_blank" class="rainbow">Lean Startups</a></li>
        </ul>

        <div class="sf-header date-img fade blank">
          <h2 class="date">Fall 2013 - SF</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/sf.jpg" src="images/blank.gif" alt="SF">
        </div>

        <p>I interned downtown at the social networking company Tagged (like a Myspace era version of Tinder). I was focusing on the front-end, helping update old features (Chat, Activity Feed) to new technologies (Ember, Angular).</p>

        <ul>
          <li><a href="http://jomrcr.svbtle.com/frankenblog" target="_blank" class="rainbow">Blogging</a></li>
          <li>Ukulele</li>
          <li><a href="https://github.com/joemercer/golden" target="_blank" class="rainbow">CSS</a></li>
        </ul>

        <div class="austin-header date-img fade blank">
          <h2 class="date">Winter 2013 - Austin</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/austin.jpg" src="images/blank.gif" alt="Austin">
        </div>

        <p>My first internship was software engineering at Bazaarvoice, the SaaS company that handles ratings and reviews for most e-commerce websites. I was learning about JavaScript while helping rebuild their back-end in Node.js and ironing out accessibility requirements on the front-end.</p>

        <ul>
          <li><a href="https://github.com/joemercer/JavaScript-Interview-Prep" target="_blank" class="rainbow">JavaScript</a></li>
          <li>Paddleboarding</li>
          <li>SXSW</li>
        </ul>

        <div class="waterloo-header date-img fade blank">
          <h2 class="date">Fall 2011 - Waterloo</h2>
          <div class="underline"></div>
          <img class="lazy" data-src="images/waterloo.jpg" src="images/blank.gif" alt="Waterloo">
        </div>

        <p>I joined the University of Waterloo in the Management Engineering program. I found the content interesting, but the approach trying, so I transferred to Mathematics and have since taken classes from a variety of callings, including Computer Science, Combinatorics, Optimization, and Statistics.</p>

        <ul>
          <li>Homework</li>
          <li><a href="https://github.com/joemercer/waitless" target="_blank" class="rainbow">Hackathons</a></li>
          <li><a href="http://jomrcr.svbtle.com/new-music-roundup-511" target="_blank" class="rainbow">mathNEWS</a></li>
        </ul>

      </article>

    </section>

    <footer>
      <div class="container">
        <p>Thanks for checking out my website. I hope you enjoyed it :)</p>

        <p>If you'd like to chat, or make something awesome together, <a href="{{twitter}}" target="_blank" class="rainbow">tweet</a> or <a href="mailto:{{email}}?subject=Hello!" class="rainbow">shoot me an email</a>. I'd love to hear from you!</p>

        <hr>

        <p>I also share...</p>
        <ul>
          <li>Moments on <b><a href="https://www.instagram.com/jomrcr/" target="_blank" class="rainbow">Instagram</a></b></li>
          <li>Thoughts on my <b><a href="http://jomrcr.svbtle.com/" target="_blank" class="rainbow">Blog</a></b></li>
          <li>Process on <b><a href="https://github.com/joemercer/" target="_blank" class="rainbow">Github</a></b></li>
          <li>Experiences on <b><a href="https://www.linkedin.com/in/jomrcr" target="_blank" class="rainbow">LinkedIn</a></b></li>
        </ul>

        <h4 class="copyright">Made with &#9829; in Seattle. &#169; 2015 Joe Mercer.</h4>
      </div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52752242-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>